* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0;
  margin: 0;
}
body {
  background-color: antiquewhite;
  flex: auto;
}
h1 {
  text-align: center;
  color: crimson;
}
.userCreate {
  width: 95%;
  box-sizing: border-box;
  box-shadow: 10px;
  margin-left: 10px;
}
.userCreate input[type="text"],
input[type="password"] {
  width: 20%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 10px;
  margin-bottom: 10px;
}
.userCreate button,
.userFetch button,
.userDelete button,
.userUpdate button,
.deleteAll button {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.userCreate button:hover,
.userFetch button:hover,
.userDelete button:hover,
.userUpdate button:hover,
.deleteAll button:hover {
  background-color: blue;
  color: white;
}

.userFetch {
  margin-top: 10px;
  margin-left: 10px;
}

.userDelete {
  margin-top: 10px;
  margin-left: 10px;
}

.userDelete input[type="text"],
input[type="password"] {
  width: 20%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 10px;
}

.userUpdate {
  margin-top: 10px;
  margin-left: 10px;
}

.userUpdate input[type="text"] {
  width: 20%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 10px;
}

.deleteAll {
  margin-top: 10px;
  margin-left: 10px;
}
.display_data {
  font: 100;
  color: crimson;
  margin-left: 10px;
  font-size: larger;
}
